main {
  padding: 1em;
}

.budget-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container {
  display: grid;
}

@media only screen and (max-width: 768px) {
  .budget-form {
    display: grid;
    grid-template-columns: auto;
  }
}
