<main>
  <form class="budget-form">
    <div class="container">
      <h1>Inkomen</h1>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Netto inkomen</mat-label>
        <input matInput type="number" min="0" placeholder="0,00" />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <h1 class="header">Uitgaven</h1>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Vaste lasten gezamenlijk</mat-label>
        <input
          matInput
          type="number"
          #uitgaven_gezamenlijk
          min="0"
          placeholder="0,00"
        />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Vaste lasten persoonlijk</mat-label>
        <input
          matInput
          type="number"
          #uitgaven_persoonlijk
          min="0"
          placeholder="0,00"
        />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Aandelen</mat-label>
        <input matInput type="number" #aandelen min="0" placeholder="0,00" />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Crypto</mat-label>
        <input matInput type="number" #crypto min="0" placeholder="0,00" />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <button
        class="berekenen"
        #berekenen
        (click)="berekenTotaal()"
        mat-button
        color="primary"
      >
        Berekenen
      </button>
    </div>
  </form>
  <div>Totaal: {{ inkomen.value }}</div>
</main>
