main {
  padding: 1em;
}

.budget-form {
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  display: grid;
}

.maandbedrag {
  font-size: larger;
}

.mat-mdc-card {
  margin-top: 1em;
}

.mat-mdc-card-content {
  font-size: larger;
  font-weight: 500;
}

@media (min-width: 650px) {
  
}


