<main>
  <form class="budget-form">
    <div class="container">
      <h1>Inkomen</h1>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Netto inkomen</mat-label>
        <input
          type="number"
          [(ngModel)]="inkomen"
          name="inkomen"
          matInput
          min="0"
          placeholder="0,00"
        />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <h1 class="header">Uitgaven</h1>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Vaste lasten gezamenlijk</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="uitgaven_gezamenlijk"
          name="uitgaven_gezamenlijk"
          min="0"
          placeholder="0,00"
        />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Vaste lasten persoonlijk</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="uitgaven_persoonlijk"
          name="uitgaven_persoonlijk"
          min="0"
          placeholder="0,00"
        />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Aandelen</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="aandelen"
          name="aandelen"
          min="0"
          placeholder="0,00"
        />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Crypto</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="crypto"
          name="crypto"
          min="0"
          placeholder="0,00"
        />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Spaardoelen</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="spaardoelen"
          name="spaardoelen"
          min="0"
          placeholder="0,00"
        />
        <span matTextPrefix>€&nbsp;</span>
      </mat-form-field>
      <button
        class="berekenen"
        mat-button
        color="primary"
        (click)="berekenen()"
      >
        Berekenen
      </button>
    </div>
  </form>
  <mat-card>
    <mat-card-header class="maandbedrag">Resterend maandbedrag</mat-card-header>

    <mat-card-content
      ><span matTextPrefix>€&nbsp;</span
      >{{ resterendMaandBedrag }}</mat-card-content
    >
  </mat-card>
</main>
